langchain
langchain-core
langchain-openai
langchain_deepseek
langchain-anthropic
langchain-community
langchain-google-genai
langchain-ollama
langgraph>=0.2.0
langgraph-checkpoint
chainlit
plotly
kaleido
openai-whisper
ffmpeg-python